* {
    background-color: black;
}

.page {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    margin: 0;
    align-items: center;
}

#title { 
    grid-area: 1 / 2 / 2 / 3;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #8200ec;
}

#border {
    border: #8200ec solid 8px;
    border-radius: 20px;
    color: #8200ec;
}

#board-background {
    background-color: grey;
}

