body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "VT323", monospace;
}

body,
.snake {
    background-color: #292625;
}

#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1 {
    border: #181615;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #181615;
}

.game-border-2 {
    border: #181615;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #181615;
}

.game-border-3 {
    border: #181615;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #181615;
}